.footer{
    /* position: relative; */
}
.logo{
    height: 80px;
    width: 100px;
}
.logo img{
    margin-top: -21px;
}
.div p{
    /* margin: -18px; */
}
.logo h4{
    margin-top: -3px;
}
.img1{
    height: 25px;
    width: 25px;
    margin: 2px;
}
a{
    color: black;
}