<footer class="page-footer font-small teal pt-4 bg-danger footer md-4">
<div class="container">
    <div class="row">

        <div class="col-md-6">
            <div class="logo">
                <img src="../../../assets/archivos/burger.svg" alt="">
                <h4>HAMBURGUESAPP</h4>
            </div>
        </div>

    
    
        <div class="col-md-6">
            <ul>
                <li><a href="https://www.instagram.com/" target="_blank"><img src="../../../assets/archivos/001-instagram.svg" alt="" class="img1">@INSTAGRAM</a></li>
                <li><a href="https://www.facebook.com/" target="_blank"><img src="../../../assets/archivos/002-facebook.svg" alt="" class="img1">@FACEBOOK</a></li>
                <li><a href="https://wa.me/549351" target="_blank"><img src="../../../assets/archivos/003-whatsapp.svg" alt="" class="img1">@WHATSAPP</a></li>
            </ul>
        </div>




    </div>



    
</div>
</footer>