<app-navbar></app-navbar>
<div class="todo" style="margin-bottom: 150px;">
<div class="back">
    <div class="logo">
        <img src="../../../assets/archivos/burger.svg" alt="">
        <h1>HAMBURGUESAPP</h1>
    </div>
</div>
<div class="container text-center bg-danger nuestras">
    <h1>Nuestras Hamburguesas</h1>
</div>
<div class="container bg-light">
    <div class="row text-center">

        <div class="col-md-3 opciones">
            <div class="name-size bg-danger"><strong>TAMAÑO</strong></div>
            <div class="image">
                <img src="../../../assets/archivos/cheese-burger.svg" alt="">
            </div>
            <!-- <hr> -->
            <div class="price bg-white"><strong>${{status.S.price}}</strong></div>
            <div class="name bg-danger"><strong>S</strong></div>
        </div>
        
        <div class="col-md-3 opciones">
            <div class="name-size bg-danger"><strong>TAMAÑO</strong></div>
            <div class="image">
                <img src="../../../assets/archivos/cheese-burger.svg" alt="">
            </div>
            <!-- <hr> -->
            <div class="price bg-white"><strong>${{status.M.price}}</strong></div>
            <div class="name bg-danger"><strong>M</strong></div>
        </div>
        <div class="col-md-3 opciones">
            <div class="name-size bg-danger"><strong>TAMAÑO</strong></div>
            <div class="image">
                <img src="../../../assets/archivos/cheese-burger.svg" alt="">
            </div>
            <!-- <hr> -->
            <div class="price bg-white"><strong>${{status.L.price}}</strong></div>
            <div class="name bg-danger"><strong>L</strong></div>
        </div>
        <div class="col-md-3 opciones">
            <div class="name-size bg-danger"><strong>TAMAÑO</strong></div>
            <div class="image">
                <img src="../../../assets/archivos/cheese-burger.svg" alt="">
            </div>
            <!-- <hr> -->
            <div class="price bg-white"><strong>${{status.XL.price}}</strong></div>
            <div class="name bg-danger"><strong>XL</strong></div>
        </div>
        

    </div>

</div>
<div class="container" style="text-align: center;">
<div class="agregados bg-white text-center">
    <h1 class="bg-danger nuestras">Nuestros Toppings!</h1>
    
    <div class="row ">
        <div class="col-md-4 bacon">
             <div>
                <strong>Bacon</strong>
            </div>
            <div>
                <img src="../../../assets/archivos/001-bacon.svg" alt="">
            </div>
        </div>

        <div class="col-md-4 bacon">
            <div>
               <strong>Lechuga</strong>
           </div>
           <div>
               <img src="../../../assets/archivos/004-lettuce.svg" alt="">
           </div>
       </div>

          <div class="col-md-4 bacon">
             <div>
                <strong>Tomate</strong>
            </div>
            <div>
                <img src="../../../assets/archivos/002-tomato.svg" alt="">
            </div>
        </div>

    </div>


    <div class="row">

          <div class="col-md-4 bacon">
             <div>
                <strong>Cebolla Morada</strong>
            </div>
            <div>
                <img src="../../../assets/archivos/006-onion-1.svg" alt="">
            </div>
        </div>

        <div class="col-md-4 bacon">
            <div>
               <strong>Cebolla Caramelizada</strong>
           </div>
           <div>
               <img src="../../../assets/archivos/005-onion.svg" alt="">
           </div>
       </div>

       <div class="col-md-4 bacon">
        <div>
           <strong>Chiles</strong>
       </div>
       <div>
           <img src="../../../assets/archivos/007-chilli.svg" alt="">
       </div>
   </div>

    </div>

    <div class="row" >

          <div class="col-md-4 bacon">
             <div>
                <strong>Champiñones</strong>
            </div>
            <div>
                <img src="../../../assets/archivos/008-mushroom.svg" alt="">
            </div>
        </div>

        <div class="col-md-4 bacon">
            <div>
               <strong>Salsa Especial</strong>
           </div>
           <div>
               <img src="../../../assets/archivos/009-mayonnaise.svg" alt="">
           </div>
       </div>

       <div class="col-md-4 bacon">
        <div>
           <strong>Pan de Queso</strong>
       </div>
       <div>
           <img src="../../../assets/archivos/003-bun.svg" alt="">
       </div>
   </div>

    </div>
</div>


<button mat-button class="pedido-personalizado" routerLink="/realizar-pedido">Realizar Pedido</button>

</div>
</div>
